/* Navbar */
.navbar ul{
    flex-wrap: wrap;
    justify-content: center;
}

/* Headings */
.heading{
    font-size: 2rem;
}
/* About */
#pic{
    flex-direction: row;
}
#pic img{
    width: 250px;
    height: 300px;
    
}
#intro p{
    margin-inline: 2px;
    line-height: 20px;
}


/* Contact */
.input{
    width: 60%;
}
#msg{
    width: 55%;
}
#send{
    width: 20%;
}